.files .file {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  float: left;
}

.files .file img {
  max-width: 100%;
  max-height: 100%;
}

.files .file .placeholder {
  text-align: center;
  margin-top: 30px;
  font-size: 80px;
  color: #ccc;
}

.files .file .actions {
  position: absolute;
  background: #ccc;
  width: 100%;
  text-align: right;
  padding: 0px 5px;
  border-radius: 5px 5px 0px 0px;
}

.files .file .name {
  position: absolute;
  background: #ccc;
  color: #fff;
  font-size: 12px;
  width: 100%;
  text-align: center;
  bottom: 0;
  border-radius: 0px 0px 5px 5px;
}

#files-upload {
  margin: 20px 0px;
}