html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  margin: 0 auto -50px auto;
}

#push {
  height: 50px;
}

footer {
  width: 100%;
  height: 50px;
  border-top: 2px solid #aaa;
}

.creator {
  padding: 10px 0;
  text-align: center;
  font-size: 17px;
}

.creator a {
  color: #777;
}

.row.option {
  margin-top: 15px;
  margin-bottom: 15px;
}

.banner-on-main h2 {
  font-size: 63px;
  text-align: center;
}

.modules-created {
  font-size: 50px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modules-created strong {
  font-size: 55px;
}

a.you-can-change {
  border-bottom: 1px dashed;
  padding: 3px;
  border-radius: 5px;
}

a.you-can-change:hover {
  text-decoration: none;
  background: #ccc;
}