.article-detail {
  margin-bottom: 100px;
}

.article-detail h1 {
  margin: 20px 0px 50px 0px;
}

@media (max-width: 767px) {
  .article-detail h1 {
    font-size: 36px;
  }
}

.article-detail .detail-text {
  font-size: 20px;
}

.article-detail img {
  border-radius: 5px;
}

.article-detail .img-wrap {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.article-detail .img-wrap .description {
  width: 100%;
  text-align: center;
  position: relative;
  background-color: #e3e3e3;
}