<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

	# не основной и не тестовый домены
	RewriteCond %{HTTP_HOST} !^modules\-constructor\.ru$ [NC]
	RewriteCond %{HTTP_HOST} !^constructor\.local$ [NC]
	RewriteRule ^(.*)$ https://modules-constructor.ru/$1 [L,R=301]

	# https на основном домене
	RewriteCond %{HTTP_HOST} ^modules\-constructor\.ru$ [NC]
	RewriteCond %{SERVER_PORT} ^80$ [OR]
	RewriteCond %{HTTP} =on
    RewriteRule ^(.*)$ https://modules-constructor.ru/$1 [R=301,L]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
