// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$footerHeight : 70px;
$footerHeightReverse : -70px;
$hoverBackgroundColor : #eee;
$fontColor : #777;

html, body{
  height      : 100%;
  font-family : Lato, sans-serif;
  color       : $fontColor;
}
#wrap{
  min-height : 100%;
  margin     : 0 auto $footerHeightReverse auto;
}
#push{
  height : $footerHeight;
}
.navbar{
  border-radius : 0;
}
.navbar-brand{
  font-size : 20px;
}
.navbar-default .navbar-nav > li > a{
  color     : $fontColor;
  font-size : 15px;
}
footer{
  width            : 100%;
  height           : $footerHeight;
  border-top       : 1px solid #e7e7e7;
  background-color : #f8f8f8;
}
.footer-actions{
  padding-top : 10px;
}
.footer-actions a{
  color           : #777;
  text-decoration : underline;
}
.creator{
  padding-top : 10px;
  text-align  : center;
  font-size   : 17px;
}
.creator a{
  color : #777;
}
.row.option{
  margin-top    : 15px;
  margin-bottom : 15px;
}
.banner-on-main{
  h2{
    font-size  : 63px;
    text-align : center;
  }
}
.modules-created{
  font-size     : 50px;
  text-align    : center;
  border        : 2px solid #000;
  border-radius : 5px;
  margin-top    : 20px;
  margin-bottom : 20px;
}
.modules-created strong{
  font-size : 55px;
}
a.you-can-change{
  border-bottom : 1px dashed;
  padding       : 3px;
  border-radius : 5px;
  &:hover{
    text-decoration : none;
    background      : $hoverBackgroundColor;
  }
}
.draggable{
  cursor         : pointer;
  padding-top    : 2px;
  padding-bottom : 2px;
  &:hover, &:focus{
    background : $hoverBackgroundColor;
  }
}
.text-center{
  text-align : center;
}
.no-margin{
  margin : 0;
}
.banner-on-main{
  padding       : 30px 0;
  border-bottom : 1px solid #e7e7e7;
  & strong{
    font-size   : 70px;
    font-weight : 400;
    line-height : 80px;
  }
  & p{
    line-height : 25px;
    margin-top  : 20px;
    font-size   : 15px;
  }
}
.not-exist{
  color   : #ccc;
  opacity : 0.7;
}
.progressive-way-menu .badge{
  padding : 3px 4px;
}
.badge.success{
  background-color : #3c763d;
}
.list-group-item{
  line-height : 34px;
}