// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$footerHeight : 50px;
$footerHeightReverse : -50px;

html, body{
  height : 100%;
}
#wrap{
  min-height : 100%;
  margin     : 0 auto $footerHeightReverse auto;
}
#push{
  height : $footerHeight;
}
footer{
  width      : 100%;
  height     : $footerHeight;
  border-top : 2px solid #aaa;
}
.creator{
  padding    : 10px 0;
  text-align : center;
  font-size  : 17px;
}
.creator a{
  color : #777;
}
.row.option{
  margin-top    : 15px;
  margin-bottom : 15px;
}
.banner-on-main{
  h2{
    font-size  : 63px;
    text-align : center;
  }
}
.modules-created{
  font-size     : 50px;
  text-align    : center;
  border        : 2px solid #000;
  border-radius : 5px;
  margin-top    : 20px;
  margin-bottom : 20px;
}
.modules-created strong{
  font-size : 55px;
}